<!DOCTYPE html>
<html lang="en">
​

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="./frontEnd/Css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb9c72ba98.js" crossorigin="anonymous">
  </script>

  <title>Comidas Rapidas</title>
</head>
​

<body>
  <div id="app">
    <!-- Inicio diego -->
    <!--Inicio header-->
    <!--Inicio navbar-->
    <div class="container-fluid g-0 fixed-top">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid ">
          <a href="#" class="navbar-brand">
            <img src="https://i.ibb.co/xYCNXYP/Group-1.png" width="130" height="60" class="d-inline-block align-top"
              alt="" />
          </a>
          <form class="d-flex te">
            <button class="btn btn-outline-light" type="button"> <a href="#carouselExampleInterval" id="home-nav"
                class="nav-link">Home</a></button>
            <button class="btn btn-outline-light" type="button"> <a href="#hamburguesa" id="hamburguesa-nav"
                class="nav-link">Hamburguesas</a></button>
            <button class="btn btn-outline-light" type="button"> <a href="#hotdogs" id="hotdogs-nav"
                class="nav-link">Perros Calientes</a></button>
            <button class="btn btn-outline-light" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Iniciar sesión</button>
            <button  id="car" class="btn btn-outline-light" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal1"><span
                class="position-absolute top-50  right-4 translate-middle badge rounded-pill">{{cartData.length}}</span>
              <img src="https://i.ibb.co/9g9Bym6/logo-Secundary.png" alt="Carrito"></button>
          </form>
        </div>
      </nav>
    </div>




    <!--Fin navbar-->
    <!--Inicio modal inicio de sesión -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      id="home1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="container">
            <div class="modal-body">
              <div class="row">
                <div class="col text-center">
                  <h3>Inicio de sesión</h3>
                </div>
              </div>
              <div class="row" id="user">

                <img src="https://i.ibb.co/r5zDPN1/pngwing-com-1.png" />
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label">Usuario</label>
                  <input v-model="username" class="form-control" type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label">Contraseña</label>
                  <input v-model="password" class="form-control" type="password" />
                </div>
              </div>
              <button @click="loginUser(username,password)" id="loginb" type="button" class="custom-btn btn-9">
                login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin modal inicio de sesión -->
    <!--Fin header-->
    <!-- Inicio de carrusel  -->

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://i.ibb.co/0KZGdBv/hot-spicy-burger-ys.jpg" class="d-block w-100" alt="..." width="980"
            height="630">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://i.ibb.co/P6mm7xq/hotd.png" class="d-block w-100" alt="..." width="980" height="630">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/4Smfrsd/pexels-photo-1639562.jpg" class="d-block w-100" alt="..." width="980"
            height="630">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Fin  de carrusel  -->

    ​
    <!-- Fin  diego -->

    ​
    <!-- Inicio yeni -->

    <!--Modal carrito-->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"  id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <!--Inicio tabla-->
            <div class="row" id="tabla">
              <div class="container pe-3 ps-3">
                <div class="table-responsive">
                  <table class="table table-bordered mt-4 table-strip text-center">
                    <thead class="table">
                      <tr>
                        <th class="col-3 table99">Producto</th>
                        <th class="col-3 table99">Cantidad</th>
                        <th class="col-3 table99">Total</th>
                      </tr>
                    </thead>
                    <tbody v-if="cartData.length">
                      <tr class="body" v-for="(item, i) in cartData">
                        <td v-text="item.name"></td>
                        <td v-text="item.quantity"></td>
                        <td v-text="item.subTotal"></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th id="bordeTable"></th>
                        <th class="bordeB">Total a pagar</th>
                        <th class="bordeB" v-text="totalPayment"></th>
                      </tr>
                    </tfoot>
                  </table>

                </div>
              </div>
            </div>
            <!--Fin tabla-->
          </div>
          <div class="modal-footer">
            <button id="closeCar" @click="closeTotal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal99" type="button"
              class="btn btn-primary modalsb">Pagar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin modal carrito-->

    <!--Cards -->
    <div class="container" id="hamburguesa">
      <div class="row title text-center">
        <h1>Hamburguesas</h1>
      </div>
      <div class="row burger text-center ">
        <div class="col-12 col-sm-8 col-lg-3" v-for="item in productsParsed.burgers">
          <div class="card">
            <img :src="item.image" class="img-fluid rounded-start" alt="..." />
            <div class="card-body">
              <div class="row">
                <h4>{{item.name}}</h4>
              </div>
              <div class="row">
                <h6>{{item.description}}</h6>
              </div>
            </div>
            <div class="row mb-3" id="price">
              <h4>${{item.price}}</h4>
            </div>
            <div class="row">
              <div class="col-3">
                <button id="menos" :disabled="item.qty <= 1" type="button"
                  @click="updateQtyBurgers('remove', item.id)"><i class="fa-solid fa-minus"></i></button>
              </div>
              <div class="col-6">
                <input id="medio" type="number" v-model.number="item.qty">
              </div>
              <div class="col-3">
                <button id="mas" type="button" @click="updateQtyBurgers('add', item.id )"><i
                    class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            <button v-if="item.qty >= 1" id="adicionales" type="button" class="btn btn-outline-warning mt-3"
              data-bs-toggle="modal" data-bs-target="#exampleModal22" @click="addCartButton(item)">
              Agregar
            </button>
            <button v-if="item.qty < 1" id="adicionales" type="button" class="btn btn-outline-warning mt-3"
              @click="messageB()">
              Agregar
            </button>

          </div>
        </div>
      </div>


      <div class="row title text-center" id="hotdogs">
        <h1>Perros calientes</h1>
      </div>
      <div class="row hot_dogs text-center">
        <div class="col-12 col-sm-8 col-lg-3" v-for="item in productsParsed.hot_dogs">
          <div class="card">
            <img :src="item.image" class="img-fluid rounded-start" alt="..." />
            <div class="card-body">
              <div class="row">
                <h4>{{item.name}}</h4>
              </div>
              <div class="row">
                <h6>{{item.description}}</h6>
              </div>
            </div>
            <div class="row mb-3" id="price">
              <h4>${{item.price}}</h4>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-3">
                <button id="menos" :disabled="item.qty <= 1" type="button"
                  @click="updateQtyHotDogs('remove', item.id)"><i class="fa-solid fa-minus"></i></button>
              </div>
              <div class="col-6">
                <input id="medio" type="number" v-model.number="item.qty">
              </div>
              <div class="col-3">
                <button id="mas" type="button" @click="updateQtyHotDogs('add',  item.id)"><i
                    class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            <button id="adicionales" v-if="item.qty >= 1" type="button"
              class="btn btn-outline-warning mt-3 align-items-center" data-bs-toggle="modal"
              data-bs-target="#exampleModal22" @click="addCartButton(item)">
              Agregar
            </button>
            <button v-if="item.qty < 1" id="adicionales" type="button" class="btn btn-outline-warning mt-3"
              @click="messageB()">
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Cards -->
    <!--Modal Pregunta Adicionales-->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"  id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionales</h5>
            <button type="button" @click="cancelOrder()" class="btn-close" id="X1" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <h6>¿Quieres elegir adicionales?</h6>
            </div>
            <div class="row">

            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal1()" id="close1" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              No
            </button>
            <!--Boton invisible para cerrar-->
            <button class="invisible" id="closeinvisible" type="button" class="btn btn-secondary"
              data-bs-dismiss="modal"></button>

            </button>

            <button data-bs-toggle="modal" data-bs-target="#exampleModal222" type="button"
              class="btn btn-secondary modalsb">
              Si
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Modal Pregunta Adicionales-->
    <!--Modal adicionales-->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"  id="exampleModal222" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionales</h5>
            <button type="button" @click="cancelOrder()" class="btn-close" id="X2" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="row">

            <div class="col-6">
              <div class="modal-body">
                <div class="row">
                  <h6>Elegir adicionales que desees agregar:</h6>
                </div>
                <div class="row">
                  <div class="form-check" v-for="item in allProducts.additional" :key="item.id">
                    <input name="item" class="form-check-input" type="checkbox" :value="item" v-model="additionalsCheck"
                      :id="item.id" />
                    <label class="form-check-label" :for="item.id">{{item.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeTotal()" type="button" id="close2" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button @click="addAdditional();" type="button" class="btn btn-primary modalsb">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin modal adicionales-->
    <!--Modal Preguntar Datos usuario-->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"  id="exampleModal99" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Datos usuario</h5>
            <button type="button" @click="closeTotal();" class="btn-close" id="X3" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <label class="form-label">Nombre</label>
              <input class="form-control" type="text" v-model="userName">
              <span class="error" v-if="error1" style="color: red;">Por favor ingresa tu nombre</span>
            </div>
            <div class="row">
              <label class="form-label">Teléfono</label>
              <input class="form-control" type="text" v-model="userPhone">
              <span class="error" v-if="error2" style="color: red;">Por favor ingresa tu teléfono</span>

            </div>
            <div class="row">
              <label class="form-label">Dirección</label>
              <input class="form-control" type="text" v-model="userDirection">
              <span class="error" v-if="error3" style="color: red;">Por favor ingresa tu dirección</span>

            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeTotal()" type="button" class="btn btn-secondary" id="close3" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary modalsb" @click="addOrder">
              Pagar
            </button>
          </div>
        </div>
      </div>

    </div>
    <!--Fin Modal Preguntar Datos usuario-->


    <!-- Fin yeni -->
    <div class="row  mt-5">
      <footer>
        <div class="row">
          <div class="col text-start">
            <a class="" href="">COPYRIGHT © 2022</a>

          </div>
          <div class="col text-end">
            <a class="" href=""><i class="fa-brands fa-instagram icon"> </i></a>
            <a class="" href=""><i class="fa-brands fa-facebook icon"></i></a>
            <a class="" href=""><i class="fa-brands fa-whatsapp icon"></i></a>

          </div>
        </div>

      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./backEnd/index.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
</body>

</html>