@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Source+Sans+Pro:wght@900&display=swap');
:root{
    --dorado:rgb(212, 175, 55);
    --negro:rgb(0, 0, 0);
    --blanco:#fff;
}
body{
    background-color: black;
    margin-bottom: 0;
    
}
#app{
    width: 100%;
   position:absolute; top:0;left:0;
}


.navbar{
    background-color:#3e2420 !important;
    font-family: 'Roboto', sans-serif;
    
}

.navbar button{
    padding-top: 1%;
    font-family: 'Bungee Spice', cursive;
    border-color: #3e2420 

}
.navbar form img {
    width: 30px;
}
.navbar form span {
   
    margin-left: -4px;
}

.carousel{
    margin-top: 70px;
    min-height: 50vh;
}
.container .title{
  color: var(--dorado);
  font-family: 'Source Sans Pro', sans-serif;
} 
.container .title2{
  color: var(--blanco);
  font-family: 'Source Sans Pro', sans-serif;
} 

#carousel {
    position: relative;
    filter: grayscale(30%);
}

