<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/administrator.css">
    <title>Administración</title>
</head>
​

<body>
    <div class="container" id="app">
        <!--ADMINISTRADOR-->
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.ibb.co/c18JcZN/pngwing-com-2.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text">Crear usuarios</p>
                        <button @click="validationFlag1()" type="button">Ingresar</button>
                    </div>
                </div>
            </div>

            <div v-if="flag1" class="col">

                <div class="row">
                    <div class="col text-center">
                        Crear usuarios
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Tipo de usuario</label>
                        <select v-model="user" name="seleccionCargo" id="seleccionCargo"
                            class="form-select text-center">
                            <option v-for="(item,index) in userType" v-text="item.name">Seleccione</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Numero de identificacion</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">edad</label>
                        <input class="form-control" type="number">
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Guardar</button>

            </div>
            <div v-else class="col">
                <img src="https://t3.ftcdn.net/jpg/03/00/16/94/240_F_300169453_6xuLDQnnQUHnCJNctiI7Vzx8uJm20xow.jpg"
                    class="card-img-top" alt="...">
            </div>
        </div>
        <!--Fin administrador-->

        <!--CHEF-->
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.ibb.co/c18JcZN/pngwing-com-2.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text">Crear Productos</p>
                        <button @click="validationFlag2()" type="button">Ingresar</button>
                    </div>
                </div>
            </div>

            <div v-if="flag2" class="col">

                <div class="row">
                    <div class="col text-center">
                        Crear productos
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Tipo de producto</label>
                        <select v-model="product" name="seleccionProducto" id="seleccionProducto"
                            class="form-select text-center">
                            <option v-for="(item,index) in productType" v-text="item.name">Seleccione</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Id</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Nombre del producto</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Descripción del producto</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Precio</label>
                        <input class="form-control" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">seleccionar imagen</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Launch demo modal
                        </button>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
            <div v-else class="col">
                <img src="https://cdn-icons-png.flaticon.com/128/3461/3461974.png" alt="">
            </div>
        </div>
        <!--Fin chef-->

        <!--Crear adicionales-->
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.ibb.co/c18JcZN/pngwing-com-2.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text">Crear adicionales</p>
                        <button @click="validationFlag3()" type="button">Ingresar</button>
                    </div>
                </div>
            </div>

            <div v-if="flag3" class="col">

                <div class="row">
                    <div class="col text-center">
                        Crear adicionales
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <label class="form-label">Nombre del producto</label>
                        <input class="form-control" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label">Precio</label>
                        <input class="form-control" type="number">
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
            <div v-else class="col">
                <img src="https://cdn-icons-png.flaticon.com/128/3461/3461974.png" alt="">
            </div>
        </div>
        <!--Fin Crear adicionales-->

        <!--Ventas realizadas-->
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.ibb.co/c18JcZN/pngwing-com-2.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text">Ventas</p>
                        <button @click="validationFlag4()" type="button">Ingresar</button>
                    </div>
                </div>
            </div>

            <div v-if="flag4" class="col">

                <!-- tabla-->
                <div class="row" id="tabla">
                    <div class="container pe-3 ps-3">
                        <div class="table-responsive">
                            <table class="table table-bordered  border-dark  mt-4  table-strip text-center">
                                <thead class="table">
                                    <tr>
                                        <th class="col-3">Numero pedido</th>
                                        <th class="col-3">Descripción</th>
                                        <th class="col-3">Opción</th>
                                        

                                    </tr>
                                </thead>
                                <tbody >
                                    <tr class="body" v-for="">


                                        <td><img src="" class="rounded-circle" alt=""></td>
                                        <td v-text=""></td>
                                        <td v-text=""></td>
                                       
                                        



                                    </tr>

                                </tbody>
                                <tbody >
                                    <tr>
                                        <td class="text-center d-flex justify-content-center">Tu lista de compras está
                                            vacía</td>
                                    </tr>
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="col">
                <img src="https://t3.ftcdn.net/jpg/03/00/16/94/240_F_300169453_6xuLDQnnQUHnCJNctiI7Vzx8uJm20xow.jpg"
                    class="card-img-top" alt="...">
            </div>
        </div>

        <!--Fin Ventas realizadas-->
        <!--Modal imagenes-->

        <!-- Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Fin madal imagenes-->




    </div>
    ​
    ​
    ​
    ​
    ​
    ​
    ​
    ​
    ​
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../../backEnd/administrator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
​

</html>